# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
checkpoints_flant5_3b

# Data
*.pkl
*.csv
tests/state_of_the_union.txt

# Build
build

# Ignore
llm_judge/data/*/model_answer/*
llm_judge/data/*/model_judgment/*
llm_judge/data/japanese_mt_bench/misc/
llm_judge/data/japanese_mt_bench/model_answer/*
llm_judge/data/japanese_mt_bench/model_judgment/*

utf_8_decoder.py
